.reg_form{
    border: 9px solid #550C9E;
    text-align: center;
    width: 600px;
    height: 920px;
    border-radius: 25px;
    margin-left: 740px;
    margin-top: -920px;
}
.SignupCompanyName{
    text-decoration: none;
}
.signupheading{
    color: black;
    padding-top: 10px;
    font-family: 'Secular One', sans-serif;
}
.signupheading1{
    color: black;
    font-family: 'Secular One', sans-serif;
}
.signupforminput{
    width: 500px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
}
.reg_page{
   margin: 0;
   padding: 0;
}
.signupsubmit{
    background-color: #550C9E;
    color: white;
    border-radius: 10px;
    width: 450px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
}
.signupsubmit:hover{
    background-color: white;
    color: #550C9E;
}
.signupcheckbox{
    width: 15px;
    height: 15px;
}
.heading{
    margin-bottom: -120px;
}
.signup{
    font-weight: bold;
    padding: 4px;
    color: black;
    font-family: 'Secular One', sans-serif;
}
.signupImg{
    margin-left: 100px;
    margin-top: -550px;
    height: 300px;
    border: 3px solid black;
    border-radius: 0% 40% 0% 0%;
}
.signupImg:hover{
    transform: scale(1.1);
    transition: 2s;
 }
.signupImg1{
    margin-left: -442px;
    margin-top: 51px;
    height: 300px;
    border: 3px solid black;
    border-radius: 0% 0% 0% 0%;
}
.signupImg1:hover{
    transform: scale(1.1);
    transition: 2s;
 }
.signupImg2{
    margin-left: -442px;
    margin-top: 650px;
    height: 300px;
    border: 3px solid black;
    border-radius: 0% 0% 0% 40%;
}
.signupImg2:hover{
    transform: scale(1.1);
    transition: 2s;
 }


